# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL (Structured Query Language)
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn

| Data Science Tools    |
|-----------------------|
| Jupyter Notebook      |
| RStudio               |
| Visual Studio Code    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by dividing by 60.
hours = 200 / 60
print("Converted hours: ",hours)

Converted hours:  3.3333333333333335

**Objectives:**

- Popular languages for Data Science
- commonly used libraries for Data Science
- Simple arithmetic expression
- Mark down

## Author
Pooja Patel